{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Shohrukh Blog{% endblock %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(../../../static/assets/img/hero-bg.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <h1 class="hero-title mb-4">I am Shohrukh</h1>
                    <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Backend Developer"></span></p>
                    <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#!" id="downloadButton" role="button">CV Download</a></p>
                </div>
            </div>
        </div>
    </div><!-- End Hero Section -->
    <main id="main">
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            {% for a in about %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-5">
                                                <div class="about-img">
                                                    <img src="{{ a.image.url }}" class="img-fluid rounded b-shadow-a" alt="{{ a.name }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-7">
                                                <div class="about-info">
                                                    <p><span class="title-s">Name: </span> <span>{{ a.name }}</span></p>
                                                    <p><span class="title-s">Profile: </span> <span>{{ a.work }}</span></p>
                                                    <p><span class="title-s">Email: </span> <span>{{ a.email }}</span></p>
                                                    <p><span class="title-s">Phone: </span> <span>+{{ a.phone }}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-mf">
                                            <p class="title-s">Skill</p>
                                            <span>{{ a.skils }}</span> <span class="pull-right">85%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_1 }}</span> <span class="pull-right">65%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_2 }}</span> <span class="pull-right">50%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_3 }}</span> <span class="pull-right">65%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_4 }}</span> <span class="pull-right">65%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_5 }}</span> <span class="pull-right">65%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                            <span>{{ a.skils_6 }}</span> <span class="pull-right">65%</span>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="about-me pt-4 pt-md-0">
                                            <div class="title-box-2">
                                                <h5 class="title-left">
                                                    About me
                                                </h5>
                                            </div>
                                            <p class="lead">
                                                {{ a.body }}
                                            </p>
                                        </div>
                                        {% for contact in contacts %}
                                            <div class="col-md-6">
                                                <div class="more-info">
                                                    <ul class="list-ico">
                                                        <li><i class="bi bi-geo-alt-fill"></i> {{ contact.location }}</li>
                                                        <li><i class="bi bi-phone-fill"></i> {{ a.phone }}</li>
                                                    </ul>
                                                </div>
                                                <div class="socials">
                                                    <ul>
                                                        <li><a href="{{ contact.facebook }}"><span class="ico-circle"><i style="font-size: 25px; position: relative; top: 1px;" class="bi bi-facebook"></i></span></a></li>
                                                        <li><a href="{{ contact.instagram }}"><span class="ico-circle"><i style="font-size: 25px; position: relative; top: 1px;" class="bi bi-instagram"></i></span></a></li>
                                                        <li><a href="{{ contact.telegram }}"><span class="ico-circle"><i style="font-size: 25px; position: relative; top: 1px;" class="bi bi-telegram"></i></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= Counter Section ======= -->
        <div class="section-counter paralax-mf bg-image" style="background-image: url(../../static/assets/img/counters-bg.jpg)">
            <div class="overlay-mf"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-check"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">WORKS COMPLETED</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">YEARS OF EXPERIENCE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-people"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">TOTAL CLIENTS</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-award"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">AWARD WON</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Counter Section -->

        <!--/ Section Portfolio Star /-->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Portfolio
                        </h3>
                        <p class="subtitle-a">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
                </div>
                <div class="row">
                    {% for port in portfolio %}
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="#!" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="{{ port.images.url }}" alt="{{ port.name }}" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">{{ port.name }}</h2>
                                        <div class="w-more">
                                        <span class="w-ctegory">{{ port.info }}</span> / <span class="w-date">{{ port.created }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="{{ port.get_absolute_url }}"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> 
                    {% endfor %}               
                </div>
            </div>
        </section>
        <!--/ Section Portfolio End /-->

        <!--/ Section Blog Star /-->
        <section id="blog" class="blog-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Blog
                            </h3>
                            <p class="subtitle-a">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-img">
                                    <a href="{{ post.get_absolute_url }}"><img style="border-radius: 2px;" src="{{ post.images.url }}" alt="{{ post.title }}" class="img-fluid"></a>
                                </div>
                                <div class="card-body">
                                    {% for tag in post.tags.all %}
                                        <div class="card-category-box">
                                            <div class="card-category">
                                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                                    <h6 class="category">{{ tag.name }}</h6>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <h3 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <p class="card-description">
                                        {{ post.body|markdown|truncatewords_html:30 }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-author">
                                        <a href="#">
                                            <span class="author">{{ post.author }}</span>
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <span class="ion-ios-clock-outline"></span> {{ post.publish }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include "pagination.html" with page=posts  %}
            </div>
        </section>
        <!--/ Section Blog End /-->

    </main>

    <script>
        document.getElementById('downloadButton').addEventListener('click', function() {
            // Replace 'image.jpg' with the actual path to your image
            var imageUrl = "../../../static/Shohrux O'ralov Resume.pdf";
        
            // Create an anchor element
            var link = document.createElement('a');
        
            // Set the download attribute with the filename
            link.download = "../../../static/Shohrux O'ralov Resume.pdf";
        
            // Set the href attribute with the data URL of the image
            link.href = imageUrl;
        
            // Append the anchor element to the body
            document.body.appendChild(link);
        
            // Trigger a click event on the anchor element
            link.click();
        
            // Remove the anchor element from the body
            document.body.removeChild(link);
        });
    </script>
    
{% endblock %}
